# **Data Types and Structures Questions**

## **1. What are data structures, and why are they important?**
- Data structures are specialized formats for organising, processing and storing data. Ther are important because they help manage and manipulate data efficiently, improving the performance of algorithms & programs.

## **2.  Explain the difference between mutable and immutable data types with examples.**
- **Mutable:** Mutable data types can be changed after creation (e.g., list, dict, set).
- **Immutable:** Immuatble data types cannot be changed after creation (e.g., int, float, str, tuple)

## **3. What are the main differences between lists and tuples in Python?**
- 1.   Lists are mutable; tuples are immutable.
  2.   Lists use []; tuples use ().
  3.   Tuples are generally more faster & memory efficient than Lists.

## **4. Describe how dictionaries store data.**
- Dictionaries store data in key-value pairs using a hash table. Each key is hashed to an index in an internal arrey, making data access efficient.

## **5. Why might you use a set instead of a list in Python?**
- To store **unique** values (no duplicates).
- For **fast membership testing** (in operator).
- To perform **set operations** like union, intersections etc.

## **6. What is a string in Python, and how is it different from a list?**
- A string is a sequence of characters (immutable), while a list is a sequence of elements (mutable and can contain any data type).

## **7. How do tuples ensure data integrity in Python?**
- Tuples and immutable, so once created, their values cannot change- ensuring the data remains constant and secure.

## **8. What is a hash table, and how does it relate to dictionaries in Python?**
- A hash table maps keys to values using a hash function. Python dictionaries use hash tables internally for fast access and storage.

## **9. Can lists contain different data types in Python?**
- Yes, Python lists can hold elements of different data types.

## **10. Explain why strings are immutable in Python.**
- Strings are immutable for memory optimization, thread-safety and to make hash-based operations (like using strings as dict keys) reliable.

## **11. What advantages do dictionaries offer over lists for certain tasks?**
- Faster data retrieval via keys.
- Key-based access (vs. index-based in lists).
- More meaningful data relationships (key-value).

## **12. Describe a scenario where using a tuple would be preferable over a list.**
- Use a tuple to represent constant data, like coordinates ( x, y) or dates, where modifications isn't allowed or desired.

## **13. How do sets handle duplicate values in Python?**
- Sets automatically eliminate duplicates.

## **14. How does the “in” keyword work differently for lists and dictionaries?**
- In lists: checks for **value** presence.
- In dictionaries: checks for **key** presence.

## **15. Can you modify the elements of a tuple? Explain why or why not.**
- No, tuples are immutable. you cannot change their elements are creation.
- **Why tuples are immutable-**
 Once a tuple is created, its elements are fixed and cannot be changed, added to, or removed. This immutability ensures data integrity and allows tuples to be used as keys in dictionaries adn elements in sets (which requires hashable types).

## **16. What is a nested dictionary, and give an example of its use case?**
- A dictionary inside another dictionary.

In [5]:
# Examples:

students = {
    "Max": {"age": 22, "grade": "A"},
    "Bob": {"age": 21, "grade": "B"}
}

## **17. Describe the time complexity of accessing elements in a dictionary.**
- **Average Case:** O(1) (constant time) due to hashing.
  **Worst Case:** O(n) (very rare, due to hash collisions).

## **18. In what situations are lists preferred over dictionaries?**
- When order of elements matters.
- When data doesn't need key-based access.
- When iterating through items sequentially.

## **19. Why are dictionaries considered unordered, and how does that affect data retrieval?**
- Prior to Python 3.7, dictionaries didn't maintain insertion order. Though they now do, they are still conceptually unordered-keys are accessed via hashes, not positions.

## **20. Explain the difference between a list and a dictionary in terms of data retrieval.**
- **List:** Indexed by position (e.g., list[0]).
- **Dictionary:** Accessed via keys (e.g., dict["name"]), allowing for more intuitive and faster retrieval based on identifiers.

# **Practical Questions**

## **01. Write a code to create a string with your name and print it.**

In [3]:
name = "Sayan Sinha"
print(name)

Sayan Sinha

## **02. Write a code to find the length of the string "Hello World".**

In [4]:
print(len("Hello World"))

11

## **03. Write a code to slice the first 3 characters from the string "Python Programming".**

In [5]:
text = "Python Programming"
print(text[:3])

Pyt

## **04. Write a code to convert the string "hello" to uppercase.**

In [6]:
print("hello".upper())

HELLO

## **05. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [7]:
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

## **06. Write a code to create a list with numbers 1 to 5 and print it.**

In [10]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

## **07. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [9]:
lst = [1,2,3,4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

## **08. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [11]:
lst = [1,2,3,4,5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

## **09. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [12]:
lst = ['a','b','c','d']
print(lst[1])

b

## **10. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [13]:
lst = [10,20,30,40,50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

## **11. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [14]:
tup = (100,200,300)
print(tup)

(100, 200, 300)

## **12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [15]:
tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

## **13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [16]:
tup = (10,20,5,15)
print(min(tup))

5

## **14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [17]:
tup = ('dog','cat','rabbit')
print(tup.index('cat'))

1

## **15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [18]:
fruits = ("apple", "banana", "cherry","kiwi")
if "kiwi" in fruits:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

## **16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [23]:
set = {'a', 'b', 'c'}
print(set)

{'c', 'b', 'a'}

## **17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [24]:
set = {1,2,3,4,5}
set.clear()
print(set)

set()

## **18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [25]:
set = {1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

## **19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [33]:
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

## **20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [32]:
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

## **21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [36]:
d = {"name": "Sayan", "age": 27, "city": "Siliguri"}
print(d)

{'name': 'Sayan', 'age': 27, 'city': 'Siliguri'}

## **22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [44]:
d = {"name": "John", "age": 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

## **23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [46]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

## **24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [47]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

## **25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [50]:
d = {'name': 'Alice', 'city': 'Paris'}
if "city" in d:
  print("'city' exists in the dictionary")
else:
  print("'city' does not exist in the dictionary")

'city' exists in the dictionary

## **26. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [51]:
lst = [1,2,3]
tup = (4,5,6)
dct = {'a': 1, 'b': 2, 'c': 3}
print(lst, tup, dct)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2, 'c': 3}

## **27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [55]:
import random
numbers = random.sample(range(1,100), 5)
numbers.sort()
print(numbers)

[37, 38, 51, 69, 83]

## **28. Write a code to create a list with strings and print the element at the third index.**

In [58]:
lst = ['apple', 'banana', 'cherry', 'strawberry', 'orange']
print(lst[3])

strawberry

## **29. Write a code to combine two dictionaries into one and print the result.**

In [59]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

## **30. Write a code to convert a list of strings into a set.**

In [75]:
string_list = ['apple', 'banana', 'orange']
string_set = (string_list)
print(string_set)

['apple', 'banana', 'orange']